body {
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
}

.op {
    opacity: 0.4;
}

.msg1 {
    position: absolute;
    top: 10%;
    right: 20%;
}

#coordinates {
    background-color: yellow;
}